$greenish: #689888;
$bone: #e4eacc;
$brownish: #d2a262;
$raspberry: #a30b37;
$darkpurple: #331832;

html {
	box-sizing: border-box;
	font-size: 18px;
}

*, *:after, *:before {
	box-sizing: border-box;
	margin: 0;
}

body {
	background: lighten($brownish, 25%);
	background: url('../design/bg.png') no-repeat;
	background-size: 100vw 100vh;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

fieldset {
	border-color: $darkpurple;
	padding: 0;
	margin: 0;
	legend {
		padding: 0 5px;
		color: $bone;
		text-shadow: 0 0 5px darken($raspberry, 25%),
					 0 0 5px darken($raspberry, 25%),
					 0 0 5px darken($raspberry, 15%);
	}
}

.bg {
	width: 90vw;
	max-width: 1200px;
	margin: auto;
	position: relative;
	top: 50vh;
	transform: translateY(-50%);
	background: rgba($bone, 0.4);
	padding: 70px 100px;
	h1 {
		font-family: 'Raleway', sans-serif;
		font-size: 3rem;
		text-align: center;
		padding-bottom: 70px;
		border-bottom: 3px solid $greenish;
		color: $bone;
		text-shadow: 0 0 12px #000000,
					 0 0 12px #000000,
					 0 0 12px #000000,
					 0 0 12px #000000,
					 0 0 12px #000000;
	}
	
	.type {
		text-align: center;
		margin-top: 30px;
		font-size: 1.5rem;
		color: $darkpurple;
		font-weight: 900;
		text-shadow: 0 0 5px $bone,
					 0 0 5px $bone,
					 0 0 15px $bone;
	}
	.timer {
		text-align: center;
		padding: 70px 0 0;
		font-size: 2rem;
		color: $bone;
		#minute {
			padding: 50px 80px;
			background: rgba($brownish, 0.6);
			margin-right: 50px;
			letter-spacing: 3px;
		}
		#seconds {
			padding: 50px 80px;
			background: rgba($brownish, 0.6);
			margin-left: 50px;
			letter-spacing: 3px;
		}
		#colon {
			color: $raspberry;
		}
	}
	.controllers {
		padding: 100px 0 0;
		display: flex;
		justify-content: space-between;
		.session {
			flex: 1 1 150px;
			max-width: 150px;
			position:relative;
			text-align: center;
			padding:8px 20px 20px;
			span {
				font-size: 1.5rem;
				padding: 0 5px;
				color: $raspberry;
			}
			i {
				position: relative;
				top: -3px;
				color: darken($greenish, 18%);
				font-size: 1.1rem;
				cursor: pointer;
			}
		}
		button {
			max-width: 150px;
			flex: 1 1 150px;
			border: 0;
			color: $bone;
			font-size: 1.4rem;
			font-weight: bold;
			cursor: pointer;
		}
		#startBtn {
			background: $darkpurple;
		}
		#resetBtn {
			background: $raspberry;
		}
	}
}

@import "media";