html {
  box-sizing: border-box;
  font-size: 18px; }

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0; }

body {
  background: #eeddc5;
  background: url("../design/bg.png") no-repeat;
  background-size: 100vw 100vh;
  font-family: 'Lato', sans-serif;
  font-weight: bold; }

fieldset {
  border-color: #331832;
  padding: 0;
  margin: 0; }
  fieldset legend {
    padding: 0 5px;
    color: #e4eacc;
    text-shadow: 0 0 5px #2c030f, 0 0 5px #2c030f, 0 0 5px #5b061f; }

.bg {
  width: 90vw;
  max-width: 1200px;
  margin: auto;
  position: relative;
  top: 50vh;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: rgba(228, 234, 204, 0.4);
  padding: 70px 100px; }
  .bg h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    text-align: center;
    padding-bottom: 70px;
    border-bottom: 3px solid #689888;
    color: #e4eacc;
    text-shadow: 0 0 12px #000000, 0 0 12px #000000, 0 0 12px #000000, 0 0 12px #000000, 0 0 12px #000000; }
  .bg .type {
    text-align: center;
    margin-top: 30px;
    font-size: 1.5rem;
    color: #331832;
    font-weight: 900;
    text-shadow: 0 0 5px #e4eacc, 0 0 5px #e4eacc, 0 0 15px #e4eacc; }
  .bg .timer {
    text-align: center;
    padding: 70px 0 0;
    font-size: 2rem;
    color: #e4eacc; }
    .bg .timer #minute {
      padding: 50px 80px;
      background: rgba(210, 162, 98, 0.6);
      margin-right: 50px;
      letter-spacing: 3px; }
    .bg .timer #seconds {
      padding: 50px 80px;
      background: rgba(210, 162, 98, 0.6);
      margin-left: 50px;
      letter-spacing: 3px; }
    .bg .timer #colon {
      color: #a30b37; }
  .bg .controllers {
    padding: 100px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .bg .controllers .session {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 150px;
              flex: 1 1 150px;
      max-width: 150px;
      position: relative;
      text-align: center;
      padding: 8px 20px 20px; }
      .bg .controllers .session span {
        font-size: 1.5rem;
        padding: 0 5px;
        color: #a30b37; }
      .bg .controllers .session i {
        position: relative;
        top: -3px;
        color: #436257;
        font-size: 1.1rem;
        cursor: pointer; }
    .bg .controllers button {
      max-width: 150px;
      -webkit-box-flex: 1;
          -ms-flex: 1 1 150px;
              flex: 1 1 150px;
      border: 0;
      color: #e4eacc;
      font-size: 1.4rem;
      font-weight: bold;
      cursor: pointer; }
    .bg .controllers #startBtn {
      background: #331832; }
    .bg .controllers #resetBtn {
      background: #a30b37; }

@media (max-width: 540px) {
  .bg {
    padding: 50px 20px; }
    .bg h1 {
      font-size: 1.2rem;
      padding-bottom: 30px; }
    .bg .type {
      font-size: 1rem; }
    .bg .timer {
      font-size: 1rem;
      padding: 30px 0 0; }
      .bg .timer #minute {
        padding: 10px 20px;
        margin-right: 20px; }
      .bg .timer #seconds {
        padding: 10px 20px;
        margin-left: 20px; }
    .bg .controllers {
      padding: 30px 0 0; }
      .bg .controllers .session {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 50px;
                flex: 1 1 50px;
        max-width: 50px;
        padding: 3px 5px 5px; }
        .bg .controllers .session span {
          font-size: 0.8rem;
          padding: 0; }
        .bg .controllers .session i {
          top: -1px;
          font-size: 0.7rem; }
      .bg .controllers button {
        max-width: 50px;
        -webkit-box-flex: 1;
            -ms-flex: 1 1 50px;
                flex: 1 1 50px;
        font-size: 0.5rem; }
  legend {
    font-size: 0.5rem; } }

@media (min-width: 541px) and (max-width: 769px) {
  .bg h1 {
    font-size: 2rem; }
  .bg .timer {
    font-size: 1rem;
    padding: 45px 0 0; }
    .bg .timer #minute {
      padding: 20px 40px;
      margin-right: 30px; }
    .bg .timer #seconds {
      padding: 20px 40px;
      margin-left: 30px; }
  .bg .controllers {
    padding: 60px 0 0; }
    .bg .controllers .session {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 100px;
              flex: 1 1 100px;
      max-width: 100px;
      padding: 3px 5px 5px; }
      .bg .controllers .session span {
        font-size: 1rem;
        padding: 0px 5px; }
      .bg .controllers .session i {
        top: -1px;
        font-size: 1rem; }
    .bg .controllers button {
      max-width: 50px;
      -webkit-box-flex: 1;
          -ms-flex: 1 1 50px;
              flex: 1 1 50px;
      font-size: 0.5rem; } }
